%% -*- erlang -*-
[
 "config/sys.config",
 {lager,
  [
   {log_root, "log"}
  ]},
 {blockchain,
  [
   {base_dir, "data"},
   {network, testnet},
   {seed_nodes, "/ip4/3.22.146.211/tcp/2154,/ip4/54.244.119.55/tcp/2154"},
   {seed_node_dns, ""},
   {honor_quick_sync, false},
   {quick_sync_mode, assumed_valid},
   {snap_source_base_url, "https://snapshots.helium.wtf/mainnet"},
   {fetch_latest_from_snap_source, false},
   {blessed_snapshot_block_height, 303841},
   {blessed_snapshot_block_hash,
    <<115, 175, 52, 149, 143, 30, 28, 234, 181, 8, 154, 49, 23, 242, 48, 197, 150, 179, 205, 93, 32, 195, 195, 110, 16, 162, 71, 122, 136, 236, 237, 24>>}
  ]}
].
