[Unit]
Description=blockchain-node instance
After=network.target

[Service]
Type=simple
ExecStart=/opt/blockchain_node/bin/blockchain_node foreground
ExecStop=/opt/blockchain_node/bin/blockchain_node stop
User=helium
PIDFile=/var/blockchain_node/blockchain_node.pid
Environment=HOME="/opt/blockchain_node"
Environment=RUNNER_LOG_DIR="/opt/blockchain_node/log/blockchain_node"
Environment=ERL_CRASH_DUMP="/opt/blockchain_node/log/blockchain_node"
LimitNOFILE=200000
LimitNPROC=200000
Restart=always

[Install]
WantedBy=multi-user.target
